.loginsignup {
    width: 100%;
    /* height: 80vh; */
    background-color: #fce3fe;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.loginsignup-container {
    width: 36.25rem;
    /* height: 37.5rem; */
    background-color: white;
    margin: auto;
    padding: 2.5rem 3.75rem;
}

.loginsignup-container h1 {
    margin: 1.25rem 0;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 1.8125rem;
    margin-top: 1.875rem;
}

.loginsignup-fields input {
    height: 4.5rem;
    width: 100%;
    padding-left: 1.25rem;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 1.125rem;
}

.loginsignup-container button {
    width: 28.7rem;
    height: 4.5rem;
    color: white;
    background-color: #ff4141;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.loginsignuo-login {
    margin-top: 1.25rem;
    color: #5c5c5c;
    font-size: 1.125rem;
    font-weight: 500;
}

.loginsignuo-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 1.5625rem;
    gap: 1.25rem;
    color: #5c5c5c;
    font-size: 1.125rem;
    font-weight: 500;
}