.popular{
 /* display: flex; */
 flex-direction: column;
 /* align-items: center;    */
 gap: .625rem;
 height: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 3.125rem;
    font-weight: 600;
}
.popular hr{
    width: 12.5rem;
    height: .375rem;
    border-radius: .625rem;
    background-color: #252525;
}

.popular-item{
    margin-top: 3.125rem;
    /* display: flex; */
    gap: 1.875rem;
}